﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table, td, th, tfoot {
            border: solid 1px #000;
            padding: 5px;
        }

        th {
            background-color: #999;
        }

        caption {
            font-size: x-large;
        }

        colgroup {
            background: #F60;
        }

        .coluna1 {
            background: #F66;
        }

        .coluna2 {
            background: #F33;
        }

        .coluna3 {
            background: #F99;
        }
    </style>
</head>
<body>
    <img src="https://media.lovemondays.com.br/logos/7b54ac/grupo-herval-original.png" height="320" width="320">
    <table width="100%" border="1">
        <tr>
        <tr>
            <th colspan="2">Tabela de preços</th>
        </tr>
        <tr>
            <td>Teste</td>
            <td>Trompa</td>

        </tr>
        <tr>
        <tr>
            <th colspan="2">Tabela de preços</th>
        </tr>
        <tr>
            <td>Teste</td>
            <td>Trompa</td>
        </tr>
        <tr>
        <tr>
            <th colspan="2">Tabela de preços</th>
        </tr>
        <tr>
            <td>Teste</td>
            <td>Trompa</td>
        </tr>
        <tr>
        <tr>
            <th colspan="2">Tabela de preços</th>
        </tr>
        <tr>
            <td>Teste</td>
            <td>Trompa</td>
        </tr>
        <tr>
        <tr>
            <th colspan="2">Tabela de preços</th>
        </tr>
        <tr>
            <td>Teste</td>
            <td>Trompa</td>
        </tr>
        <tr>
        <tr>
            <th colspan="2">Tabela de preços</th>
        </tr>
        <tr>
            <td>Teste</td>
            <td>Trompa</td>
        </tr>
    </table>
</body>
</html>
